.row
  .offset2.span8
    .jumbotron
      %h1 Whooooops!
      %p.lead We are really sorry, but something went wrong...
      %p.lead Our tech nerds are currently working like crazy to solve this!
      .btn.btn-large.btn-success= link_to "Back to homepage", root_path
