.row
  .offset2.span8
    .jumbotron
      %h1 Whooooops!
      %p.lead The page you are looking for is not here ...or never was.
      .btn.btn-large.btn-success= link_to "Back to homepage", root_path
