.row
  .span12
    .page-header
      %h1= I18n.t('.visit.all_maps.title')

.row
  .span12
    - counter = 0
    - @users.each do |user|
      - map_visits = user.visits.to_gmaps4rails
        - unless map_visits.blank?
          .span3= gmaps(map_options: { zoom: 6, id: "map_#{counter}" }, markers: { data: map_visits }, last_map: false, scripts: :none, )
          - counter += counter