.row
  .span12
    .page-header
      %h1= I18n.t('.visit.all_maps.title')

.row
  - counter = 1
  - @users.each do |user|
    - unless user.visits.blank?
      - map_visits = user.visits
      .span4.map
        %div{ id: "map_#{counter}" }= static_map_for(map_visits)
        .map_details
          = user.full_name
        .map_more
          = link_to "more details...", visits_path(user: user)
        - counter += counter