.row
  .offset2.span8
    .jumbotron
      %h1 Whooooops!
      %p.lead Bummer....you are not authorized to view that stuff :-(
      .btn.btn-large.btn-success= link_to "Back to homepage", root_path
