.row
  .span8
    %h1= I18n.t('.news.latest_news')
    = render partial: "newsitems/newsitems", locals: { newsitems: @sticky_newsitems }
    = render partial: "newsitems/newsitems", locals: { newsitems: @newsitems }

  %aside.span5
    %a.twitter-timeline{"data-widget-id" => "348050772388372480", :href => "https://twitter.com/TOSD_Frenzy"} Tweets by @TOSD_Frenzy
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>