.row
  .span8
    %h1= I18n.t('.news.latest_news')
    = render partial: "newsitems/newsitems", locals: { newsitems: @sticky_newsitems }
    = render partial: "newsitems/newsitems", locals: { newsitems: @newsitems }

  %aside.span4
    = render partial: "rankings/general_ranking"
