.row
  .span8
    %h1= I18n.t('.news.latest_news')
    = render partial: "newsitems/newsitems", locals: { newsitems: @sticky_newsitems }
    = render partial: "newsitems/newsitems", locals: { newsitems: @newsitems }

  %aside.span4
    //%h3= I18n.t('.ranking.general_ranking')
    // render partial: "rankings/personal_ranking"

//.row
//.span12
//#chart_div= pie_chart({"Football" => 10, "Basketball" => 5})
//http://ankane.github.io/chartkick/