.row
  .span8
    %h1 Welkom bij de Frenzy!
    %p De deelname aan de Clubs Frenzy voor het nieuwe seizoen 2010-2011 is open!

    .row
      .span8
        %h1= I18n.t('.news.latest_news')
        = render partial: "newsitems/newsitems", newsitems: @newsitems

  %aside.span4
    = render partial: "rankings/general_ranking"
