.container-narrow
  .jumbotron
    %h2 The Old Spotted Dog Frenzy
    %p.lead Het leukste spel voor Engels voetbal liefhebbers: stel een team samen van Engelse voetbalclubs, scoor punten en versla de "echte kenners"
    .btn.btn-large.btn-success= link_to I18n.t('.site.signup'), sign_up_path
  %hr/
  .row-fluid.marketing
    .span6
      %h4 Team samenstellen
      %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
      %h4 Jokers inzetten
      %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
      %h4 Subheading
      %p Maecenas sed diam eget risus varius blandit sit amet non magna.
    .span6
      %h4 Punten scoren
      %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
      %h4 Periode titels
      %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
      %h4 Subheading
      %p Maecenas sed diam eget risus varius blandit sit amet non magna.