@import "variables.css.scss";

form {
  .submit {
    margin-top: 1em;
  }
  .small_text_field {
    width: 3em;
  }
  textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
  }
  label, input, select {
    float: left;
    margin-left: 10px;
  }
  label {
    width: 200px;
  }
  .horizontal {
    margin: 2em 2em 0 2em;
  }
  .errors {
    color: #B11F05;
    padding-left: 1em;

    ul {
      list-style: none;
      margin: 0 0 1em 0;
    }
  }
  .field_with_errors {
    input {
      border: 1px solid red;
      background-color: #FED6D6;
    }
  }
}
