embed, object, iframe {
  max-width: 100%;
}

.map_container {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  img { max-width: none; }
}

@media (max-width: 480px) {
  .map_container {
    width: 400px;
  }
  .gmaps4rails_map {
    width: 400px;
    height: 300px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .map_container {
    width: 400px;
    height: 300px;
  }
  .gmaps4rails_map {
    width: 400px;
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .map_container {
    width: 620px;
    height: 500px;
  }
  .gmaps4rails_map {
    width: 620px;
    height: 500px;
  }
}
@media (min-width: 979px) {
  .map_container {
    height: 600px;
    width: 615px;
  }
  .gmaps4rails_map {
    width: 615px;
    height: 600px;
  }
}