@import "variables.css.scss";

html, body {
  font-family: $default-font;
  font-size: 90%;
  background-color: #D0D0D0;
  color: $text-color;
}
h1, h2, h3, h4, h5, h6 {
  color: $base-color;
}
a, a:visited, a:hover {
//  color: $base-color;
  text-decoration: none;
}
.site_canvas {
  width: 90%;
  margin: 0 auto;
  background-color: $background-color;
  padding: 10px;
  border: solid 1px black;
  margin-top: 20px;
}
.site_container {
  margin: 0 auto;
}
nav {
  margin-bottom: 2em;
}
.yield {
  min-height: 500px;
  margin: 1em;
}
header {
  .title {
    float: left;
    margin: 2em;

    a, a:visited, a:hover {
      font-size: 3em;
      color: $title-color;
      font-weight: bold;
      text-shadow: 2px 2px $text-color;
    }
  }
  .salutation {
    float: right;
    margin: 1.5em 2em;
    padding: 0.6em 1.2em;
    font-size: 100%;
    color: $text-color;
  }
}
footer {
  text-align: center;
  margin-top: 1em;
  border-top: 1px solid $text-color;
  padding: 1em;

  h5 {
    color: $text-color;
    font-weight: normal;
    font-size: 0.8em;
  }
}

form {
  .submit {
    margin-top: 1em;
  }
}

// Topbar
.top-bar, .top-bar-section .has-form, .top-bar-section li a:not(.button) {
  background: $base-color;
}
.top-bar-section ul li.active a {
  background: $base-color;
}
.top-bar-section li a:not(.button):hover {
  background: darken($base-color, 5%);
}
.top-bar-section .dropdown li {
  min-width: 100%;
}
.top-bar-section>ul>.divider {
  border-right: darken($base-color, 25%);
  border-left: darken($base-color, 25%);
}
.button.small, .button, .button:hover, .button:visited {
  background: $base-color;
  color: #FFFFFF;
}
.button.alert:hover, .button.alert:focus, .button.alert:visited {
  background: #970b0e;
  color: #FFFFFF;
}

