@import "variables.css.scss";

html, body {
  font-family: $default-font;
  font-size: 14px;
  line-height: 22px;
  background-color: #D0D0D0;
  color: $text-color;
}
h1, h2, h3, h4, h5, h6 {
  color: $title-color;
}
a, a:visited, a:hover {
  color: $base-color;
  text-decoration: none;
}
.btn {
  a, a:visited, a:hover {
    color: $text-color;
  }
}

.site_canvas {
  width: 90%;
  margin: 0 auto;
  background-color: $background-color;
  padding: 10px;
  border: solid 1px black;
  margin-top: 20px;
  margin-bottom: 20px;
}
.site_container {
  margin: 0 auto;
}
nav {
  margin-bottom: 2em;
}
.yield {
  min-height: 500px;
  margin: 1em;
}
.destroy_x {
  color: red;
  text-decoration: bold;
  font-size: 1em;
  padding-left: 1em;
}
header {
  .title {
    @include site-badge;
  }
  .salutation {
    float: right;
    margin: 3em 2em 2.3em 0em;
    font-size: 1.2em;
    color: $text-color;
  }
}
footer {
  text-align: center;
  margin-top: 1em;
  padding: 0.2em;
  border-top: 2px solid $base-color;

  h5 {
    color: $text-color;
    font-weight: normal;
    font-size: 1em;
  }
}

form {
  .submit {
    margin-top: 1em;
  }
  .small_text_field {
    width: 3em;
  }
}
.points_used {
  padding: 10px;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  p {
    color: $base-color;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
}
.table {
  th {
    background: $table-color;
    color: #FFFFFF;
    font-weight: bold;
  }
  .joker_neutral {
    background-color: transparant;
  }
  .joker_positive {
    background-color: green;
    color: #FFFFFF;
  }
  .joker_negative {
    background-color: red;
    color: #FFFFFF;
  }
}
.center {
  text-align: center;
}

// Topbar
.top-bar, .top-bar-section .has-form, .top-bar-section li a:not(.button) {
  background: $base-color;
}
.top-bar-section ul li.active a {
  background: $base-color;
}
.top-bar-section li a:not(.button):hover {
  background: darken($base-color, 5%);
}
.top-bar-section .dropdown li {
  min-width: 100%;
}
.top-bar-section>ul>.divider {
  border-right: darken($base-color, 25%);
  border-left: darken($base-color, 25%);
}

// Signin form
.signin_container {
  padding: 50px;
  margin-top: 60px;
  background-color: #f5f5f5;
  border: 1px solid darken(#f5f5f5, 10%);
  @include box-shadow;

  .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
}
