@import "variables.css.scss";

/* Landscape phones and down */
@media only screen and (max-width : 480px) {
  html, body {
    font-size: 80%;
  }

  header {
    .title {
      margin: 0 0 1em 0;
      text-align: center;
      font-size: 80%;
    }
    .salutation {
      display: none;
    }
  }
  .profile {
    .profile_image {
      margin: 0;
    }
  }
}

/* Landscape phone to portrait tablet */
@media only screen and (max-width : 767px) {

  html, body {
    font-size: 80%;
  }

  header {
    .title {
      margin: 0 0 1em 0;
      text-align: center;
      font-size: 80%;
    }
    .salutation {
      display: none;
    }
  }
  .profile {
    .profile_image {
      margin: 0;
    }
  }

  /* Force table to not be like tables anymore */
  .table table,
  .table thead,
  .table tbody,
  .table th,
  .table td,
  .table tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table tr { border: 1px solid #ccc; }

 .table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
  }

  .table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }

  /*
  Label the data
  */
  .table td:before { content: attr(data-title); }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Desktop */
@media (min-width: 980px) {

}
