@import "variables.css.scss";

html, body {
  font-family: $default-font;
  font-size: 12px;
  line-height: 20px;
  background-color: #D0D0D0;
  color: $text-color;
}
h1, h2, h3, h4, h5, h6 {
  color: $title-color;
}
a, a:visited, a:hover {
  color: $base-color;
  text-decoration: none;
}
.pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus {
  color: $base-color;
  text-decoration: none;
}
.site_container {
  width: 100%;
  margin: 0 auto;
  background-color: $background-color;
  padding: 10px;
}
nav {
  margin-bottom: 2em;
}
.yield {
  min-height: 500px;
  margin: 1em;
  padding-top: 1em;
}
.destroy_x {
  color: red;
  text-decoration: bold;
  font-size: 1em;
  padding-left: 1em;
}
header {
  .title {
    @include site-badge;
  }
  .salutation {
    float: right;
    margin: 3em 2em 2.3em 0em;
    font-size: 1.2em;
    color: $text-color;
  }
  .signin_link {
    background-color: $base-color;
    padding: 0.5em 1em;
    @include round-corners;

    a, a:visited, a:active {
      color: #FFFFFF;
    }
  }
}
.yield, .messages, .navbar, footer, header {
  margin: 0 auto;
  width: 90%;
}
footer {
  text-align: center;
  margin-top: 1em;
  padding: 0.2em;
  border-top: 2px solid $base-color;
  background-color: $base-color;

  h5 {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 1em;

    a, a:visited, a:hover {
      color: #FFFFFF;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.spacer {
  clear: both;
}


.points_used {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 50%;
  margin: 1em auto;
  border: 2px solid $title-color;

  p {
    color: $base-color;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
  .button_wrapper {
    text-align: center;

    #partial_button {
      margin-top: 1em;
    }
  }
}
.table {
  margin-top: 0;

  th {
    background: $table-color;
    color: #FFFFFF;
    font-weight: bold;
  }
  .joker_neutral {
    background-color: transparant;
  }
  .joker_positive {
    background-color: green;
    color: #FFFFFF;
  }
  .joker_negative {
    background-color: red;
    color: #FFFFFF;
  }
}
.center {
  text-align: center;
}
.table_filter {
  margin-top: 0;
  margin: 0 0 5px;
}

// Profile
.profile {
  .profile_header, .profile_body {
    margin-bottom: 2em;
  }
  .profile_image {
    margin-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .bio {
    text-align: center;
  }
  p {
    font-size: 70%;
  }
  .no_profile {
    text-align: center;
    p {
      font-size: 100%;
    }
  }
}

// News
.media {
  h1 {
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 80%;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  .content {
    margin-top: 1em;
  }
}
.comment {
  border: 1px solid $text-color;
  padding: 1em;
  margin: 1em;
  background-color: darken(#FFFFFF, 5%);
  @include box-shadow;

  .subtitle {
    margin-bottom: 0.5em;
  }
}
.add_comment {
  margin: 3em;

  .btn {
    margin-top: 1em;
  }
}

// Signin form
.signin_container {
  padding: 50px;
  margin-top: 60px;
  margin-bottom: 30px;
  background-color: #f5f5f5;
  border: 1px solid darken(#f5f5f5, 10%);
  clear: both;
  display: inline-block;
  @include box-shadow;

  .title {
    text-align: center;
    margin-bottom: 1em;
  }

  .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
  a {
    margin-left: 1em;
  }
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  background-color: $base-color;

  a, a:hover, a:visited {
    color: #FFFFFF;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
