$background-color: #FFFFFF;
$base-color: #008E00;;
$text-color: #757370;
$title-color: #B11F05;
$table-color: #B11F05;
$table-light-color: #3D280C;
$default-font: Arial, serif;
$round: 8px;

@mixin round-corners {
  -webkit-border-radius: $round $round;
  -moz-border-radius: $round / $round;
  -khtml-border-radius: $round / $round;
  border-radius: $round / $round;
}

@mixin box-shadow {
  box-shadow: 5px 5px 2px #888888;
}