$background-color: #FFFFFF;
$base-color: #008E00;;
$text-color: #757370;
$title-color: #B11F05;
$table-color: #B11F05;
$table-light-color: #3D280C;
$default-font: 'Noto Sans UI', Helvetica, Arial, sans-serif;
$round: 8px;

@mixin round-corners {
  -webkit-border-radius: $round $round;
  -moz-border-radius: $round / $round;
  -khtml-border-radius: $round / $round;
  border-radius: $round / $round;
}

@mixin box-shadow {
  box-shadow: 5px 5px 2px #888888;
}

@mixin site-badge {
  float: left;
  margin: 1.5em 0 2em 2em;
  background: $title-color;
  padding: 1.5em;
  @include round-corners;
  @include box-shadow;

  p, a, a:visited, a:hover {
    font-size: 1.8em;
    color: #FFFFFF;
    font-weight: bold;
  }
}
